@charset "UTF-8";


.my-background {

    background-color: #2a2a2a;

  background-image:;
    background-position: top center;


   background-repeat: no-repeat;

 
}

.my-body-copy {
    color: #e3e3e3;
}

.my-form {
    background-color: #0044cc;
}