{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Title -->
    <title>Calculator-12</title>
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico' %}" />
    <!-- Core Stylesheet -->
<link rel="stylesheet" href="{% static 'css/styles.css' %}"/>
<link rel="stylesheet" href="{% static 'css/main.css' %}"/>
</head>
<body>
{% include 'nav.html' %}
        <header class="bg-dark py-1">
            <div class="container px-4 px-lg-5 my-1">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Blank Template</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Blank Page</p>
                </div>
            </div>
        </header>
        <br/>
        <div class="container">
        	<div class="row">
        		<center><form method="post">
    <div>
        <h3>Blank_</h3>
        <br/>
<br/>
link to external webpage on global internet.
<br/>
<a class="btn btn-primary" href="https://iversondigital-6a62a77b5ccf.herokuapp.com/" role="button">HTTPS iversondigital</a>
<br/><br/>
    </div>
        	</form>
        		</center>
        	</div>
        </div>
        <br/>
</body>
</html>